@using AYN.Data.Models.Enumerations

@model AYN.Web.ViewModels.Reports.CreateReportInputModel

@{
    this.ViewData["Title"] = "Report Ad";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>


<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="Description" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Description" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <textarea asp-for="Description" rows="5" placeholder="Description" class="form-control"></textarea>
        </div>
    </div>
    
    <div>
        <span asp-validation-for="ReportType" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="ReportType" class="input-group-text">
                    <i class="fas fa-flag"></i>
                </label>
            </div>
            <select asp-for="ReportType" class="form-control">
                <option selected disabled>Choose report type</option>
                @foreach (int reportType in Enum.GetValues(typeof(ReportType)))
                {
                    <option value="@reportType">@Enum.GetName(typeof(ReportType), reportType)</option>
                }
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <hr />
</form>
