@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3>Search products by our main categories</h3>
</div>
<br/>

<div class="row">
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <a href="/" class="text-decoration-none">
                <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" class="rounded-circle" style="width: 90px; height: 90px;" alt="">
                <h6 class="font-italic font-weight-bolder">Animals</h6>
            </a>
        </div>
    </div>
    <br/>
    
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-info btn-sm">All Categories</button>
</div>