@{
    this.ViewData["Title"] = "Home";
}

<form method="get" asp-controller="Ads" asp-action="GetFromSearch" class="px-3">
    <partial name="_SearchBarPartial"/>
</form>

@await Component.InvokeAsync("GetAllCategoriesWithTheirSubCategories")

<div class="text-center">
    <h3>Recent Promoted Ads</h3>
</div>

<div class="text-center">
    <h3>Recent Ads</h3>
    @await Component.InvokeAsync("GetRecentAds")
</div>

