@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3>Search products by our main categories</h3>
</div>
<br />

@await Component.InvokeAsync("GetAllCategoriesWithTheirSubCategories");

<div class="d-flex justify-content-center">
    <button class="btn btn-info btn-sm">All Categories</button>
</div>

<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>
<h1>test test</h1>