@model AYN.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home";
}

<form method="get" asp-controller="Ads" asp-action="All" class="px-3">
    <partial name="_SearchBarPartial" model="this.Model" />
</form>

@await Component.InvokeAsync("GetAllCategoriesWithTheirSubCategories")

<div class="text-center">
    <h3>Recent Promoted Ads</h3>
    @await Component.InvokeAsync("GetRecentlyPromotedAds");
</div>

<div class="text-center">
    <h3>Recent Ads</h3>
    @await Component.InvokeAsync("GetRecentAds")
</div>

