@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h4>Search products by our main categories</h4>
</div>
<br />

@await Component.InvokeAsync("GetAllCategoriesWithTheirSubCategories");

<div class="text-center">
    <h3>Recent Promoted Ads</h3>
</div>

<div class="text-center">
    <h3>Recent Ads</h3>
</div>

<div class="text-center">
    <h3>All Ads</h3>
</div>
