.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.category-image {
    width: 100px;
    height: 100px;
}

.img-wrap {
    position: relative;
    display: inline-block;
}

.img-wrap img {
    display: block;
}

.show-on-hover {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
    top: 0;
    text-decoration: none;
}

/*social */
.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.follower-wrapper li {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.social-profile {
    color: #fff;
}

    .social-profile a {
        color: #fff;
    }

.social-profile {
    position: relative;
    margin-bottom: 150px;
}

    .social-profile .user-profile {
        position: absolute;
        bottom: -75px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        left: 50px;
    }

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

    .social-prof .wrapper {
        width: 70%;
        margin: auto;
        margin-top: -100px;
    }

    .social-prof img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 5px solid #fff;
        /*border: 10px solid #70b5e6ee;*/
    }

    .social-prof h3 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .social-prof p {
        font-size: 18px;
    }

    .social-prof .nav-tabs {
        border: none;
    }

.card .nav > li {
    position: relative;
    display: block;
}

    .card .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        font-weight: 300;
        border-radius: 4px;
    }

        .card .nav > li > a:focus,
        .card .nav > li > a:hover {
            text-decoration: none;
            background-color: #eee;
        }

.card .s-nav > li > a.active {
    text-decoration: none;
    color: #fff;
}

ul.friend-list {
    margin: 0;
    padding: 0;
}

    ul.friend-list li {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

        ul.friend-list li:hover {
            background: rgba(0, 0, 0, .1);
            cursor: pointer;
        }

    ul.friend-list .left img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 20px;
    }

    ul.friend-list li {
        padding: 10px;
    }

    ul.friend-list .right h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    ul.friend-list .right p {
        font-size: 11px;
        color: #6c757d;
        margin: 0;
    }

.social-timeline-card .dropdown-toggle::after {
    display: none;
}

.info-card h4 {
    font-size: 15px;
}

.info-card h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-about .social-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-about p {
    margin-bottom: 20px;
}

.info-card i {
}

.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

    .card-one .header {
        position: relative;
        width: 100%;
        height: 60px;
    }

        .card-one .header::before,
        .card-one .header::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: inherit;
        }

        .card-one .header::before {
            -webkit-transform: skewY(-8deg);
            transform: skewY(-8deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        .card-one .header::after {
            -webkit-transform: skewY(8deg);
            transform: skewY(8deg);
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }

        .card-one .header .avatar {
            position: absolute;
            left: 50%;
            top: 30px;
            margin-left: -50px;
            z-index: 5;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            background: #ccc;
            border: 3px solid #fff;
        }

            .card-one .header .avatar img {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 100px;
                height: auto;
            }

    .card-one h3 {
        position: relative;
        margin: 80px 0 30px;
        text-align: center;
    }

        .card-one h3::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            margin-left: -15px;
            width: 30px;
            height: 1px;
            background: #000;
        }

    .card-one .desc {
        padding: 0 1rem 2rem;
        text-align: center;
        line-height: 1.5;
        color: #777;
    }

    .card-one .contacts {
        width: 200px;
        max-width: 100%;
        margin: 0 auto 3rem;
    }

        .card-one .contacts a {
            display: block;
            width: 33.333333%;
            float: left;
            text-align: center;
            color: #c8c;
        }

            .card-one .contacts a:hover {
                color: #333;
            }

                .card-one .contacts a:hover .fa::before {
                    color: #fff;
                }

                .card-one .contacts a:hover .fa::after {
                    width: 100%;
                    height: 100%;
                }

            .card-one .contacts a .fa {
                position: relative;
                width: 40px;
                height: 40px;
                line-height: 39px;
                overflow: hidden;
                text-align: center;
                font-size: 1.3em;
            }

                .card-one .contacts a .fa:before {
                    position: relative;
                    z-index: 1;
                }

                .card-one .contacts a .fa::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0;
                    height: 0;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    background: #c8c;
                    transition: width .3s, height .3s;
                }

            .card-one .contacts a:last-of-type .fa {
                line-height: 36px;
            }

    .card-one .footer {
        position: relative;
        padding: 1rem;
        text-align: center;
    }

        .card-one .footer a {
            padding: 0 1rem;
            color: #e2e2e2;
            transition: color .4s;
        }

            .card-one .footer a:hover {
                color: #c8c;
            }

        .card-one .footer::before {
            content: '';
            position: absolute;
            top: -27px;
            left: 50%;
            margin-left: -15px;
            border: 15px solid transparent;
        }

.card-title, .card .card-title, .card-2 .card-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

a {
    color: #333;
}

.badge {
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}

.badge-primary {
    color: #447de8;
    background-color: #e6edff;
}

.badge {
    display: inline-block;
    padding: .4em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/*end social*/

.feed {
    width: 500px;
    position: relative;
}
    .feed .like-btn {
       
        position: absolute;
        left: 13px;
    }
        .feed .like-btn::before {
            content: ".";
            opacity: 0;
            display: block;
            width: 14px;
            height: 10px;
            position: absolute;
            top: -10px;
            left: 0;
        }

        .feed .like-btn .reaction-box {
            position: absolute;
            width: 460px;
            height: 45px;
            background: whitesmoke;
            border-radius: 18px;
            left: -25px;
            bottom: 35px;
            display: none;
        }

            .feed .like-btn .reaction-box .reaction-icon {
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 20px;
                margin: 0px -1px 0 8px;
                text-align: center;
                cursor: pointer;  
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                opacity: 0;
                transform: translate(0, 100px) scale(0);
            }

                .feed .like-btn .reaction-box .reaction-icon label {
                    padding: 3px 5px 3px 5px;
                    top: -24px;
                    border-radius: 10px;
                    font-size: 11px;
                    color: #fff;
                    background: #333;
                    visibility: hidden;
                }

            .feed .like-btn:hover .reaction-box {
                display: block;
            }

                .feed .like-btn:hover .reaction-box .reaction-icon.show {
                    opacity: 1;
                    transform: translate(0, 0) scale(1);
                }

                .feed .like-btn:hover .reaction-box .reaction-icon:hover {
                    transform: scale(1.1);
                    transform-origin: bottom;
                }

                    .feed .like-btn:hover .reaction-box .reaction-icon:hover label {
                        visibility: visible;
                    }