@model AYN.Web.ViewModels.Home.IndexPageStatisticsViewModel

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="text-success font-weight-bolder">@Model.UsersCount</p> <h6>Active Users in the platform</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p><a class="text-success font-weight-bolder" asp-controller="Ads" asp-action="Search">@Model.AdsCount</a></p> <h6>Active Ads in the platform</h6>
            </div>
        </div>
    </div>
</div>