@{ ViewData["Title"] = "Messages"; }

<div class="container">
    <br />
    <div class="tt-messages-layout">
        <div class="d-flex justify-content-center">
            <vc:chat-conversations></vc:chat-conversations>
        </div>
    </div>
</div>