<div class="container display-1 d-flex justify-content-center" >
    <div class="btn-toolbar">
        <div  class="btn-group btn-group-sm">
            @for (var i = 'A'; i <= 'Z'; i++)
            {
                @if (this.Model.AvailableLetters.Contains(i.ToString()))
                {
                    <a asp-route-letter="@i" style="font-size: 40%" class="btn font-weight-bolder">@i</a>
                }
                else
                {
                    <p style="font-size: 40%" class="btn disabled">@i</p>
                }
            }
        </div>
    </div>
</div>