@using AYN.Data.Models
@using Microsoft.AspNetCore.Identity
@using AYN.Web.Infrastructure.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" data-toggle="tooltip" data-placement="top" title="Profile" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@this.UserManager.Users.FirstOrDefault(u => u.Id == this.User.GetId())?.Id">
                <img src="@this.UserManager.Users.FirstOrDefault(u => u.Id == this.User.GetId())?.AvatarImageUrl" class="user-profile img-fluid rounded-circle" style="width: 35px;height: 35px">
            </a>
        </li>
        @if (this.User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-danger" data-toggle="tooltip" data-placement="top" title="Administration Settings" asp-area="Administration" asp-controller="Panels" asp-action="Index"><i class="fas fa-tools" style="font-size: 1.5rem;"></i></a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-warning" data-toggle="tooltip" data-placement="top" title="Profile Settings" href="/Identity/Account/Manage"><i class="fas fa-cog" style="font-size: 1.5rem;"></i></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" data-toggle="tooltip" data-placement="top" title="Logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-muted"><i class="fas fa-sign-out-alt" style="font-size: 1.5rem;"></i></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
