<div class="text-center">
    <h3>Search</h3>
</div>
<div class="p-1 bg-light rounded rounded-pill shadow-sm mx-auto mb-3 mt-1 col-md-6">
    <div class="input-group">
        <input name="search" type="search" placeholder="Search by keywords, sentence, description or some text..." value="@Model.Search" class="form-control border-1 bg-white">
        <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
