@model AYN.Web.ViewModels.SubCategories.CreateSubCategoryInputModel

@{
    this.ViewData["Title"] = "Add subCategory";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="Name" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Name" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="Name" placeholder="Name" class="form-control" />
        </div>
    </div>

    <input type="submit" class="btn btn-success btn-sm" />
</form>
