@model AYN.Web.ViewModels.Ads.ListAdsViewModel

<div class="row">
    @foreach (var ad in this.Model.Ads)
    {
        <div class="card col-md-4">
            <h5 class="card-title text-center">
            </h5>
            <img class="card-img-top" src="@ad.TitleImageUrl" width="100" height="300" alt="Card image cap">
            <div class="card-body">
                <div class="text-center">
                    <a asp-controller="Ads" asp-action="Details" asp-route-id="@ad.Id">@ad.Name</a><br />
                    @ad.Price$
                </div>
            </div>
        </div>
    }
</div>